<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>404 Not Found</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/main.css') }}" />
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <div class="error">
    <div class="intro-body">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="error-template">
                      <h1>Oops!</h1>
                      <h2>404 Not Found</h2>
                      <div class="error-details">
                          Sorry, an error has occured, Requested page not found!
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

</body>
</html>
